.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo-header {
  width: 100px;
  height: auto;
  margin-left: 1rem;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  gap: 2rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
  margin-top: 7px;
}

.nav-links a {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #302D40;
  text-decoration: none;
  position: relative;
  padding-bottom: 0.25rem;
}

.nav-links a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.nav-links a.active::after {
  background-color: #302D40;
}

.auth-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.auth-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #302D40;
  border: none;
  background: none;
  cursor: pointer;
}

.auth-button.primary {
  background-color: #302D40;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}

/* Mobile styles */
.hamburger-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.hamburger-menu.open {
  transform: rotate(90deg);
}

.hamburger-menu img {
  width: 24px;
  height: 24px;
}

.mobile-nav {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  background-color: #FFFFFF;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.mobile-nav a,
.mobile-nav .auth-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  color: #302D40;
  text-decoration: none;
  position: relative;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: left;
  transition: background-color 0.3s ease;
}

.mobile-nav a.active,
.mobile-nav .auth-button.active {
  background-color: #000000; /* Change background color to black */
  color: #FFFFFF; /* Change text color to white */
}

@media (max-width: 768px) {
  .nav-links,
  .auth-buttons {
    display: none;
  }

  .hamburger-menu {
    display: block;
    order: -1;
  }

  .logo-wrapper {
    order: 1;
  }

  .mobile-nav {
    display: flex;
  }

  .auth-button.primary {
    background: none;
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 769px) {
  .auth-button.primary {
    background-color: #302D40;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
  }

  .nav-links,
  .auth-buttons {
    display: flex;
  }
}

@media (max-width: 480px) {
  .company {
    font-size: 1rem;
  }

  .nav-links a {
    font-size: 0.75rem;
  }

  .auth-button {
    font-size: 0.75rem;
  }

  .auth-button.primary {
    padding: 0.5rem 0.75rem;
  }
}
