.individual-restaurant-card {
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  width: 100%;
}

.individual-restaurant-header {
  background-size: cover;
  background-position: center;
  height: 180px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  background: linear-gradient(to bottom, rgba(252, 248, 243, 0.4) 23%, rgba(252, 248, 243, 1) 100%);
}

.back-button {
  position: absolute;
  width: 5%;
  height: auto;
  top: 10px;
  left: 10px;
}

.restaurant-title {
  position: absolute;
  bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  color: #302D40;
}

.individual-restaurant-content {
  padding: 20px;
}

.food-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px 0;
  background: #FFF;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
}

.restaurant-food-image {
  width: 100%;
  height: auto;
  max-width: 214px;
  max-height: 148px;
  border-radius: 8px;
  margin-right: 20px;
}

.food-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding-left: 20px;
}

.food-title {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #302D40;
  font-weight: 600;
  margin-bottom: 10px;
}

.food-price-row, .food-calories-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 0;
}

.food-price-text, .food-calories-text {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #302D40;
  font-weight: 600;
  margin-right: 5px;
}

.food-price, .food-calories {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #302D40;
  font-weight: 600;
  min-width: 100px; /* Set a minimum width to avoid layout shifts */
  text-align: right; /* Align text to the right */
}

.cart-icon-container {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #302D40;
  height: 99%;
  border-radius: 10px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.put-in-cart-icon {
  width: 100%;
  height: auto;
}

.down-arrow-icon {
  position: absolute;
  top: 38%;
  right: -5%;
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.cart-icon-container:hover .down-arrow-icon {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-13px);
  }
}

.floating-emoji {
  position: absolute;
  animation: float 2s;
  width: 40px; /* Adjust size as needed */
  height: auto;
  pointer-events: none; /* Prevent mouse interaction */
}

@keyframes float {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

.macronutrients-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-left: 50px;
}

.macronutrients {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.macro-title-column,
.macro-value-column,
.macro-additional-column,
.macro-controls-column {
  display: flex;
  flex-direction: column;
}

.macro-controls-column {
  margin-top: 2px;
}

.macro-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px;
}

.macro-title,
.macro-additional,
.macro-value {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  color: #302D40;
  font-weight: 600;
}

.macro-controls {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-top: -9px;
}

.macro-controls button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0 10px;
}

.macro-additional-value,
.macro-value {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  padding: 0 10px;
  background: #F9F9F9;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
}

.macro-value.red {
  color: red;
}

.macro-value.blue {
  color: blue;
}

.macro-value.default {
  color: black;
}

@media (max-width: 1024px) {
  .individual-restaurant-card {
    margin: 10px;
    max-width: 90%;
  }
  .down-arrow-icon {
    display: none;
  }

  .restaurant-title {
    font-size: 28px;
  }

  .food-item {
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }

  .restaurant-food-image {
    width: 100%;
    max-width: 180px;
    height: auto;
  }

  .food-title,
  .food-price,
  .food-calories,
  .food-ingredients {
    font-size: 16px;
  }

  .cart-icon-container {
    width: 40px;
    height: 40px;
  }

  .put-in-cart-icon {
    width: 30px;
    height: 30px;
  }

  .macronutrients-wrapper {
    padding-left: 30px;
  }
  .macro-title,
  .macro-additional,
  .macro-value,
  .macro-additional-value {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .individual-restaurant-card {
    margin: 10px;
    max-width: 100%;
  }
  .restaurant-title {
    font-size: 24px;
  }
  .down-arrow-icon {
    display: none;
  }

  .food-item {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .restaurant-food-image {
    width: 100%;
    max-width: 150px;
    height: auto;
  }

  .food-title,
  .food-price,
  .food-calories,
  .food-ingredients {
    font-size: 14px;
  }

  .cart-icon-container {
    width: 36px;
    height: 36px;
  }

  .put-in-cart-icon {
    width: 24px;
    height: 24px;
  }

  .macronutrients-wrapper {
    padding-left: 20px;
  }

  .macro-title,
  .macro-additional,
  .macro-value,
  .macro-additional-value {
    font-size: 12px;
  }

  .macro-controls button {
    font-size: 20px;
    padding: 0 8px;
  }
}

@media (max-width: 480px) {
  .individual-restaurant-card {
    margin: 5px;
    max-width: 100%;
  }
  .restaurant-title {
    font-size: 20px;
  }

  .food-item {
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
  .restaurant-food-image {
    width: 100%;
    height: auto;
  }

  .food-title,
  .food-price,
  .food-calories,
  .food-ingredients {
    font-size: 12px;
  }

  .cart-icon-container {
    top: 10%;
    right: 1%;
    width: 30px;
    height: 30px;
  }

  .put-in-cart-icon {
    width: 20px;
    height: 20px;
  }

  .down-arrow-icon {
    width: 24px;
    height: 24px;
  }

  .macronutrients-wrapper {
    padding-left: 10px;
  }
  .macro-title,
  .macro-additional,
  .macro-value,
  .macro-additional-value {
    font-size: 10px;
  }

  .macro-controls button {
    font-size: 18px;
    padding: 0 6px;
  }
}
