/* src/assets/styles/OrderPreview.css */
.order-preview {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 630px;
  margin-left: 60px;
  margin-top: 30px;
  position: relative; /* Added position relative for the container */
}

.order-preview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px; 
}

.edit-button {
  position: absolute;
  top:80px; /* Adjusted top position */
  right:10px; /* Adjusted right position */
  font-family: 'Poppins', sans-serif;
  background: #302D40;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.macro-nutrients .nutrient {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.value {
  display: flex;
  gap: 5px;
  align-items: center;
}

.editable-input {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: none;
  border: 1px solid #302D40;
  border-radius: 20px;
  padding: 5px 10px;
  outline: none;
  width: 60px;
  -moz-appearance: textfield;
}

.editable-input::-webkit-outer-spin-button,
.editable-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.value-text {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid #302D40;
  width: 60px;
  text-align: center;
  box-sizing: border-box;
  margin-right: 20px;
}

.carb-value {
  margin-right: 40px;
  text-align: center;
}

.protein-value {
  margin-right: 32px;
  text-align: center;
}

.fat-value {
  margin-right: 13px;
  text-align: center;
}

.cost {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin-left: 10px;
}

.additional-notes span {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #9F9F9F;
}

.notes-input {
  width: 100%;
  display: block;
  margin: 10px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: none;
  border: 1px solid #302D40;
  border-radius: 5px;
  outline: none;
  color: #000;
}

.order-summary .summary-line,
.total-line {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.thin-line {
  height: 1px;
  background: #302D40;
  margin: 10px 0;
}

.checkout-button {
  background: #302D40;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  padding: 10px;
  text-align: center;
  display: block;
  margin: 20px auto 0;
}
