/* src/assets/styles/OrderPreview.css */
.order-preview {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 20px;
}

.order-preview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; 
}

.macro-nutrients {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.nutrient-column,
.value-column,
.adjusted-price-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nutrient-column span,
.value-column span,
.adjusted-price-column span,
.summary-line,
.total-line {
  margin: 5px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600; 
}

.nutrient-column span {
  margin: 12px 0;
}

.adjusted-price-column span {
  margin: 12px 0;
}

.value-column span {
  border: 1px solid #302D40;
  border-radius: 20px;
  padding: 5px 10px;
}

.cost {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin-left: 10px;
}

.additional-notes span {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #9F9F9F;
}
.pickup-time{
  font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.notes-input {
  width: 90%;
  display: block;
  margin: 10px 0;
  padding-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: none;
  border: 1px solid #302D40;
  border-radius: 5px;
  outline: none;
  color: #000;
}

.pickup-time {
  margin: 20px 0;
}

.time-inputs {
  display: flex;
  align-items: center;
}

.time-input {
  width: 50px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: none;
  border: 1px solid #302D40;
  border-radius: 5px;
  margin: 0 5px; 
}

.time-period-select {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: none;
  border: 1px solid #302D40;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}

.order-summary .summary-line,
.total-line {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.thin-line {
  height: 1px;
  background: #302D40;
  margin: 10px 0;
}

.checkout-button {
  background: #302D40;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  padding: 10px;
  text-align: center;
  display: block;
  margin: 20px auto 0;
}

/* Styles for mobile modal */
.order-preview-mobile .open-modal-button {
  font-family: 'Poppins', sans-serif;
  background: #302D40;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  transform: translateX(-50%);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  bottom: 10%;
}

.modal-content {
  background: #fff;
  border-radius: 20px;
  position: relative;
  overflow-y: auto;
  width: 100%;
  height: auto;
  transform: translateX(-50%);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #000;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .order-preview-desktop {
    display: block;
  }

  .order-preview-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .order-preview-desktop {
    display: none;
  }

  .order-preview-mobile {
    display: block;
  }

  .order-preview {
    max-width: 90%;
  }

  .App {
    min-height: 100vh;
    position: relative;
    padding-bottom: 50px; /* Space for the sticky footer */
  }
}
