.order-preview {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 20px;
}

.order-preview-title{
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #333333;
}

.order-preview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.macro-nutrients {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.nutrient-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.value-column,
.adjusted-price-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nutrient-column span,
.value-column span,
.adjusted-price-column span,
.summary-line,
.total-line {
  margin: 5px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.value-column span {
  width: 70px;
}

.nutrient-column span {
  margin: 12px 0;
}

.adjusted-price-column span {
  margin: 12px 0;
}

.value-column span {
  border: 1px solid #302D40;
  border-radius: 10px;
  padding: 5px 10px;
}

.cost {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin-left: 10px;
}

.additional-notes {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #9F9F9F;
  margin-bottom: 20px;
}

.pickup-time {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.notes-input {
  width: 96%;
  display: block;
  margin: 10px 0;
  padding-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: none;
  border: 1px solid #302D40;
  border-radius: 5px;
  outline: none;
  color: #000;
}

.pickup-time {
  margin: 20px 0;
}

.time-inputs {
  display: flex;
  align-items: center;
}

.time-input {
  width: 50px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: none;
  border: 1px solid #302D40;
  border-radius: 5px;
  margin: 0 5px;
}

.warning-message {
  color: red;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.remove-button img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}

.remove-button:hover img {
  transform: scale(1.1);
}

.time-period-select {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: none;
  border: 1px solid #302D40;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}

.order-preview-summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.summary-line,
.total-line {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.summary-line span:first-child,
.total-line span:first-child {
  text-align: start;
  flex: 1;
}

.summary-line span:last-child,
.total-line span:last-child {
  text-align: end;
  flex: 1;
}

.thin-line {
  height: 1px;
  background: #302D40;
  margin: 10px 0;
}

.checkout-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-button {
  display: inline-block;
  padding: 1rem 3rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #302D40;
  background-color: rgba(252, 248, 243, 0.52);
  border: 2px solid #302D40;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
  position: relative;
  transition: all 0.3s ease;
}

.checkout-button:hover {
  background-color: #f8f8f8; /* Slightly lighter background for hover */
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

/* Styles for mobile modal */
.order-preview-mobile .open-modal-button {
  font-family: 'Poppins', sans-serif;
  background: #302D40;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  transform: translateX(-50%);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: #fff;
  border-radius: 20px;
  position: relative;
  overflow-y: auto;
  width: 90%;
  height: 90%;
  max-height: 90%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #000;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .order-preview-desktop {
    display: block;
  }

  .order-preview-mobile {
    display: none;
  }
  .checkout-button {
    font-size: 1.25rem;
    padding: 0.75rem 2rem;
  }
}

@media (max-width: 768px) {
  .order-preview-desktop {
    display: none;
  }

  .order-preview-mobile {
    display: block;
  }

  .order-preview {
    max-width: 90%;
  }

  .order-preview-mobile .open-modal-button {
    display: none;
  }
}
