.order-header-wrapper {
  width: 100%;
  max-width: 1279px;
  height: auto;
  background: linear-gradient(90deg, #78F4BF 0%, #C2EFB7 100%);
  border-radius: 1.25rem 1.25rem 0 0; /* 20px to rem */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem; /* 20px to rem */
}

.order-header-title {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem; /* 40px to rem */
  font-weight: bold;
  color: #333333;
  margin-bottom: 0.5rem; /* 8px to rem */
}

.order-header-subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem; /* 24px to rem */
  color: #333333;
}

@media (max-width: 1200px) {

  .order-header-title {
    font-size: 2rem; /* Adjusted font size for larger tablets */
  }
  .order-header-subtitle {
    font-size: 1.25rem; /* Adjusted font size for larger tablets */
  }
}

@media (max-width: 768px) {
  .order-header-title {
    font-size: 1.5rem; /* Adjusted font size for tablets */
  }
  .order-header-subtitle {
    font-size: 1rem; /* Adjusted font size for tablets */
  }
}

@media (max-width: 600px) {
  .order-header-title {
    font-size: 1rem; /* Adjusted font size for mobile */
  }
  .order-header-subtitle {
    font-size: 0.8rem; /* Adjusted font size for mobile */
  }
}
