/* src/assets/styles/RestaurantList.css */

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 20px;
}

.restaurant-item {
  display: flex;
  flex-direction: column;
  width: 353px;
  cursor: pointer;
  transition: transform 0.3s;
}

.restaurant-item:hover {
  transform: scale(1.05);
}

.restaurant-image {
  width: 353px;
  height: 255px;
  object-fit: cover;
    border-radius: 10px;
}

.restaurant-details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.restaurant-name {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #302D40;
}

.restaurant-type {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #7D7D7D;
}
