/* src/assets/styles/SignUpWithEmail.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.signup-container {
  width: 544px;
  height: auto;
  background: #FFFFFF;
  border-radius: 24px;
  padding: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-title {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #111111;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 2px;
}

.signup-subtitle {
  font-size: 14px;
  color: #666666;
  margin-bottom: 20px;
}

.signup-subtitle .login-link {
  color: #000000;
  text-decoration: underline;
  cursor: pointer;
}

.form-group-signup {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}

.form-group-signup label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 22px;
  color: #666666;
}

.form-group-signup input {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-group-signup input::placeholder {
  font-family: 'Poppins', sans-serif;
  color: #999999;
}

.show-hide-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.password-hint {
  font-size: 12px;
  color: #999999;
  margin-top: 5px;
}

.signup-button {
  width: 416px;
  height: 64px;
  border: none;
  border-radius: 40px;
  background-color: #FFFFFF;
  color: #111111;
  font-weight: 500;
  font-size: 22px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s, color 0.3s;
}
.success-button{
  background: #302D40;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  padding: 10px;
  text-align: center;
  display: block;
  margin: 20px auto 0;
  width: 100%;
}
.signup-button:hover {
  background-color: #111111; /* Change background color on hover */
  color: #FFFFFF; /* Change text color on hover */
}
.signup-success-text{
  font-weight: 600;
  font-size:17px;

}

.close-button-modal {
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  font-size: 24px;
  color: #666666;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
}

.terms {
  font-size: 12px;
  color: #666666;
  margin-top: 10px;
}

.terms a {
  color: #007bff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .signup-title {
    font-size: 24px;
  }

  .signup-container {
    width: 90%;
    height: auto;
    padding: 16px;
  }

  .form-group-signup label,
  .form-group-signup input,
  .signup-button {
    font-size: 14px;
  }

  .signup-button {
    width: 100%;
    height: 56px;
  }
}

@media (max-width: 480px) {
  .signup-title {
    font-size: 20px;
  }

  .signup-container {
    width: 90%;
    height: auto;
    padding: 12px;
  }

  .form-group-signup label,
  .form-group-signup input,
  .signup-button {
    font-size: 12px;
  }

  .signup-button {
    width: 100%;
    height: 48px;
  }
}
