@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #78F4BF 0%, #C2EFB7 100%);
  padding: 2rem 1rem;
}

@media (min-width: 601px) {
  .top-section {
    flex-direction: row;
    padding: 4rem 2rem;
  }
}

.content {
  flex: 1;
  max-width: 100%;
  text-align: center; /* Center text for mobile */
}

@media (min-width: 601px) {
  .content {
    text-align: left; /* Align text to the left for desktop */
    margin-right: 2rem; /* Move content closer to the center */
    margin-left: auto; /* Center content for desktop */
  }
}

.top-section-title {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #302D40;
  line-height: 1.2;
  margin: 4rem 0;
  text-align: start;
}

@media (min-width: 601px) {
  .top-section-title {
    position: relative;
    font-size: 4rem; /* Increase font size for desktop */
    left:10%;
    top: 20%;
  }
}

.cta-button {
  display: inline-block;
  padding: 1rem 3rem;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #302D40;
  background-color: rgba(252, 248, 243, 0.52);
  border: 2px solid #302D40;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
  position: relative;
  transition: all 0.3s ease;
  left: 20%;
  top: 40%;
}

.cta-button:hover {
  background-color: #f8f8f8; /* Slightly lighter background for hover */
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .cta-button {
    font-size: 1.25rem; /* Reduce font size for mobile */
    padding: 0.75rem 2rem; /* Adjust padding for mobile */
    left: 0%;
  }
}

.image-container {
  position: relative;
  flex: 1;
  max-width: 100%;
}

.stylistic-circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bubble {
  position: absolute;
  background: radial-gradient(circle, rgba(252, 248, 243, 0.52), rgba(255, 255, 255, 0.77));
  border-radius: 50%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #302D40;
  font-size: 1rem;
  z-index: 2;
}

@media (min-width: 601px) {
  .bubble {
    font-size: 1.5rem; /* Increase font size for desktop */
  }
}

.bubble:first-child {
  bottom: 60%;
  right: 35%;
  width: 150px;
  height: 150px;
}

@media (min-width: 601px) {
  .bubble:first-child {
    width: 250px;
    height: 250px; /* Increase size for desktop */
  }
}

.bubble:nth-child(2) {
  bottom: 2%;
  left: 4%;
  width: 120px;
  height: 120px;
}

@media (min-width: 601px) {
  .bubble:nth-child(2) {
    width: 200px;
    height: 200px; /* Increase size for desktop */
  }
}

.bubble:nth-child(3) {
  bottom: 0%;
  left: 30%;
  width: 100px;
  height: 100px;
}

@media (min-width: 601px) {
  .bubble:nth-child(3) {
    width: 135px;
    height: 135px; /* Increase size for desktop */
  }
}

.bubble-number-unit-container {
  display: flex;
  align-items: center;
}

.bubble-number-container {
  overflow: hidden;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unit {
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 5px; /* Adjust spacing as needed */
  margin-bottom: 0px;
}

@media (min-width: 601px) {
  .unit {
    font-size: 1.5rem; /* Increase font size for desktop */
    margin-left: 5px; /* Adjust spacing as needed */
    margin-bottom: 8px;
  }
}

.scroll {
  list-style: none;
  padding: 0;
  margin: 0;
  animation: scroll 20s linear infinite;
}

.scroll li {
  font-size: 1rem;
  font-weight: bold;
}

@media (min-width: 601px) {
  .scroll li {
    font-size: 1.5rem; /* Increase font size for desktop */
  }
}

@keyframes scroll {
  0%, 12.66%, 100% {
      transform: translate3d(0,0,0);
  }
  16.66%, 29.32% {
      transform: translate3d(0,-25%, 0);
  }
  33.32%, 45.98% {
      transform: translate3d(0,-50%, 0);
  }
  49.98%, 62.64% {
      transform: translate3d(0,-75%, 0);
  }
  66.64%, 79.30% {
      transform: translate3d(0,-50%, 0);
  }
  83.30%, 95.96% {
      transform: translate3d(0,-25%, 0);
  }
}

@media (max-width: 600px) {
  .scroll {
    animation: scroll-mobile 20s linear infinite; /* Adjust scrolling animation for mobile */
  }

  @keyframes scroll-mobile {
    0%, 100% {
      transform: translate3d(0,0,0);
    }
    25%, 50%, 75% {
      transform: translate3d(0,-25%, 0);
    }
  }
}

.bubble-text {
  font-size: 0.75rem;
}

@media (min-width: 601px) {
  .bubble-text {
    font-size: 1.25rem; /* Increase font size for desktop */
    margin-left: 2px;
  }
}

.decorative-bubble {
  position: absolute;
  background: radial-gradient(circle, rgba(252, 248, 243, 0.52), rgba(255, 255, 255, 0.77));
  border-radius: 50%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  animation: float 5s ease-in-out infinite;
}

@media (max-width: 600px) {
  .decorative-bubble {
    display: none; /* Hide decorative bubbles on mobile */
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.decorative-bubble.small {
  width: 25px;
  height: 25px;
}

.decorative-bubble.medium {
  width: 120px;
  height: 120px;
}

.decorative-bubble.large {
  width: 140px;
  height: 140px;
}

.bubble:nth-child(3) .scroll li {
  margin-left: 10px; /* Add margin-left to adjust single digit alignment */
}

@media (max-width: 600px) {
  .bubble:first-child {
    bottom: 70%;
    right: 20%;
    width: 120px;
    height: 120px;
  }

  .bubble:nth-child(2) {
    bottom: 10%;
    left: 10%;
    width: 100px;
    height: 100px;
  }

  .bubble:nth-child(3) {
    bottom: 5%;
    left: 40%;
    width: 80px;
    height: 80px;
  }

  .bubble-number-unit-container {
    font-size: 0.875rem; /* Decrease font size for mobile */
  }

  .bubble-number-container {
    height: 17px; /* Decrease height for mobile */
  }

  .unit {
    font-size: 0.875rem; /* Decrease font size for mobile */
  }

  .scrolling li {
    font-size: 0.875rem; /* Decrease font size for mobile */
  }
}

.scrolling-text-container {
  overflow: hidden;
  height: 80px;;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 120px;
  margin-top: -75px;
}

.scrolling {
  list-style: none;
  padding: 0;
  margin: 0;
  animation: scroll 20s linear infinite;
  display: inline-block;
  white-space: nowrap;
}

.scrolling li {
  font-size: 4rem;
  font-weight: inherit; 
  color: inherit; 
}